@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@font-face {
    font-family: 'holy';
    src: url('Holy\ Friday.otf') format('opentype');
}

body{
    background-image: linear-gradient(to left, #B2BEBF, #889C9B, #486966);
    text-align: justify;
    font-family: cursive, "Comic Sans MS";
    font-size: 1.125em;
}

header{
    background-color: white;
    width: 900px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 4px 4px 15px #38524f;
}

nav{
    text-align: center;
}

nav > a{
    margin: 0px 20px;
    text-decoration: none;
    color: #486966;
    font-weight: bold;
}

nav > a:hover{
    color: #BD2A2E;
    text-decoration: underline;
}

main{
    background-color: white;
    width: 900px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 15px #38524f;
}

h1{
    color: #3B3936;
    text-align: center;
    text-shadow: 1px 1px 2px #242221;
}

h2, h3, h4, h5{
    color: #BD2A2E;
}

.codigo{
    color: white;
    background-color: #242221;
    width: 500px;
    border-radius: 10px;;
}

.obs{
    color:#BD2A2E
}

.font-import{
    font-family: "Indie Flower", cursive;
}

.font-import2{
    font-family: 'holy'
}

p{
    text-indent: 20px;
}

.prox-pag{
    text-align: right;
}

.pseudo{
    background-color: #242221;
    color: white;
    height: 200px;
    width: 200px;
    border: 2px solid #BD2A2E;
    display: inline-block;
    text-align: center;
}

.pseudo:hover{
    background-color: #BD2A2E;
}

.hidden > p{
    display: none;
}

.hidden:hover > p{
    display:block
}

.lorem::first-line{
    background-color: #38524f71;
}

div#borda-personalizada{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0px auto;
    background-color: #242221;
    color: white;
}   

